main.page {
  background-color: black;
  box-sizing: border-box;
  background: url("@public/henrik-inabox.jpg") no-repeat center fixed; /* The image used */
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
  width: 100%;
  height: 1080px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

main.page img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}