/* font imports */
@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('uni-sans.heavy-caps.otf') format('opentype');
}
@font-face {
  font-family: "Whitney";
  src: url('whitneymedium.otf') format('opentype')
}

/* TailwindCSS imports */

/* Global Styles */
* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Uni Sans Heavy";
}

h3,
h4,
h5,
h6,
p,
div {
  font-family: "Whitney";
}