
.navbar {
  height: 75px;
  width: 100%;
  background: white;
  color: Black;
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid gray;
  z-index: 99;
  box-sizing: border-box;
  animation-name: fyre;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes fyre {
  0%   {background-color: #ffca28;}
  20%  {background-color: #ffa000;}
  40%  {background-color: #F57C00;}
  60%  {background-color: #F57C00;}
  80%  {background-color: #ffa000;}
  100% {background-color: #ffca28;}
}
/*linear-gradient(#FFCA28, #FFA000, #F57C00, #000000);*/


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation: logo-spin infinite 2s linear;
}
.navbar img:hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation: logo-spin infinite 2s linear;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}